@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@model Multi_AddressBook.Areas.Models.SEC_UserModel
<!-- BEGIN LOGO -->
<div class="logo">
    <h2 class="bold text-danger">Address Book</h2>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" method="post" asp-area="SEC_User" asp-controller="SEC_User" asp-action="Login">
        <h3 class="form-title font-green">Sign In</h3>

        @if (TempData["Error"]!=null)
        {
            <div class="text-danger">@Html.Raw(TempData["Error"]) </div>
        }
        
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" asp-for="UserName" placeholder="Enter Username" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" asp-for="Password" placeholder="Enter Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-actions text-center">
            <button type="submit" class="btn green uppercase">Login</button>
        </div>
    </form>
    <!-- END LOGIN FORM -->
</div> 