@{
    ViewData["Title"] = "ContactCategory Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MST_ContactCategoryModel
<div class="row">
    <div class="col-md-12">
        <h3> @TempData["ContactCategoryInsertMsg"]</h3>
        <form method="post" asp-controller="MST_ContactCategory" asp-action="Save" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.ContactCategoryID)
            <div class="form-group">
                <label>ContactCategory</label>
                <input type="text" asp-for="ContactCategory" class=form-control placeholder="Enter ContactCategory Name" />
            </div>
            
            <hr />
            <input type="submit" asp-controller="MST_ContactCategory" asp-action="Save" />
            <div class="center-button"><input class="btn btn-success" type="submit" value="Save"></div>
            <div class="center-button"><a asp-controller="LOC_Country" asp-action="Index" class="btn btn-danger">Cancel</a></div>
        </form>
    </div>
</div>