@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display: flex;justify-content: center;align-items: center;text-align: center;min-height: 75vh;">
    <h1 class="display-4" style="font-size: 5rem;font-weight: 700;">ADDRESS BOOK</h1>
</div>
