
@{
    ViewData["Title"] = "Country Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LOC_CountryModel

<div class="row">
    <div class="col-md-12">
        <h3> @TempData["CountryInsertMsg"]</h3>
        <form method="post" asp-controller="LOC_Country" asp-action="Save" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.CountryID)
            @Html.HiddenFor(x=>x.PhotoPath)
            <div class="form-group">
                <lable class="text-danger">
                    *
                </lable>
                <label >CountryName</label>
                <input class="form-control" type="text" asp-for="CountryName" placeholder="Enter Country Name" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>CountryCode</label>
                <input class="form-control" type="text" asp-for="CountryCode" placeholder="Enter Country Code" />
            </div>
           
            <hr/>
            <div class="center-button"><input class="btn btn-success" type="submit" value="Save"></div>
            <div class="center-button"><a asp-controller="LOC_Country" asp-action="Index" class="btn btn-danger">Cancel</a></div>
        </form>
    </div>
</div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}