@{
    ViewData["Title"] = "State Add/Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LOC_StateModel
<div class="row">
    <div class="col-md-12">
        <h3> @TempData["StateInsertMsg"]</h3>
        <form method="post" asp-controller="LOC_State" asp-action="Save" enctype="multipart/form-data">
            @Html.HiddenFor(x=>x.StateID)
            @Html.HiddenFor(x=>x.PhotoPath)
            <div class="form-group">
                <label>StateName</label>
                <input type="text" asp-for="StateName" class=form-control placeholder="Enter State Name" />
            </div>
            <div class="form-group">
                <label>StateCode</label>
                <input type="text" asp-for="StateCode" class=form-control placeholder="Enter State Code" />
            </div>
           
            <div class="form-group">
                <label>CountryName</label>
                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
                    <option value="">Select Country</option>
                </select>
            </div>
            <hr />
            <input type="submit" asp-controller="LOC_State" asp-action="Save" />
            <div class="center-button"><input class="btn btn-success" type="submit" value="Save"></div>
            <div class="center-button"><a asp-controller="LOC_Country" asp-action="Index" class="btn btn-danger">Cancel</a></div>
        </form>
    </div>
</div>